name: COMPILADOR_MAESTRO
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build APK
        run: |
          echo "Iniciando fabricacion..."
          # Este es un comando de prueba para ver si el robot despierta
          ls -R
